@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

* {
    margin: 0;
}

.icnbtn:hover {
    background-color: rgb(24, 21, 21);
}

.reg {
    text-decoration: none;
    color: black;
}

.reg:hover {
    color: rgb(42, 165, 93);
}